
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}

#content {
  width: 100%;
}

body {
  font-family: Lato, sans-serif;
  margin: 0;
}



body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 20%;
}

#sidebar-first {
  width: 20%;
  left: -80%; /* LTR */
}

body.two-sidebars #sidebar-first {
  left: -60%; /* LTR */
}

#sidebar-second {
  float: right; /* LTR */
  width: 20%;
}

.section {
  margin: 10px;

}

#navigation {
  background-color: #2e2f30;
  opacity: 0.85;
  position: fixed;
  width: 100%;
  min-height: 5em;
  z-index: 9;
}

#navigation a {
  color: #fff;
  text-decoration: none;
}

#navigation h2 {
  display: none;
}

#logo {
  background-image: url("kay-logo.png");
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3em;
}

#main-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0.6em 0;
}

#main-menu li {
  display: inline-block;
}

#main-menu li a {
  display: block;
  padding: 1em 0.6em;
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#main-menu li a:hover {
  color: #47bbf5;
}

.region-content,
.region-footer {
  text-align: center;
}


.block {
  padding-top: 1.4em;
  padding-bottom: 4em;
}

.region-content h2,
.region-footer h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 1.4em;
  color: #333333;
}

.region-footer h2 {
  color: #f0f0f0;
}

.block .content {
  color: #333333;
  line-height: 1.6em;
  font-size: 1.2em;
  padding: 0 20%;
}

.region-footer .block {
  background-color: #4b4c4d;
  color: #f0f0f0;
}

.region-footer .content {
  color: #f0f0f0;
  font-weight: 300;
}

.block-system {
  padding: 0;
}


.front .region-content .block:nth-child(odd) {
  background-color: #d0cfd1;

}

.front .region-content .block:nth-child(even) {
background-color: #f2f0f4;
}

#main {
  text-align: center;
}

#main a {
  color: #3399cc;
}

#header {
  padding: 0;
  padding-top: 5em;
  background-image: url("helsingin_katot.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -210px;
}

#header h1#page-title {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  margin: 0;
  color: #f0f0f0;
  letter-spacing: 1px;
  padding: 8% 0;
  display: block;
}

.page-user-register {
  background-color: #4b4c4d;

}

#user-register-form {
  color: #f0f0f0;
  position: relative;

}

#user-register-form label {
  padding-top: 0.2em;
  padding-bottom: 1em;
  font-weight: 300;
  text-align: left;
}

.form-required {
  color: #f0f0f0;
}

.form-item {
  width: 60%;
  position: relative;
}

#user-register-form .form-item .label {
  cursor: pointer;
}

#user-register-form input[type=text],
#user-register-form textarea
{
  background-color: #4b4c4d;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  border-radius: 10px;
  line-height: 1.2em;
  font-size: 1em;
  width: 90%;
  padding: 10px;
}

#user-register-form .grippie {
  display: none;
}

#user-register-form input[type=radio] {
  visibility: hidden;
}

#user-register-form input[type=checkbox] {
  visibility: hidden;
}

#user-register-form input[type=radio]:before,
#user-register-form input[type=checkbox]:before {
  cursor: pointer;
  display: inline-block;
  visibility: visible;
  height: 20px;
  content: ' ';
  line-height: 20px;
  text-align: center;
  width: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  left: 8px;
  top: 3px;
}

#user-register-form input[type=radio]:checked:before,
#user-register-form input[type=checkbox]:checked:before {
  content: ' ';
  background-color: #f0f0f0;
}

#user-register-form .form-item {
  width: auto;
}

#edit-submit {
  background-color: #53A8D3;
  border: 0;
  border-bottom: 2px solid #3388B3;
  border-radius: 6px;
  font-size: 1em;
  padding: 1.6em 3em;
  color: #f0f0f0;
  cursor: pointer;
}

#edit-submit:hover {
  background-color: #3388B3;
}


@media (min-width: 1080px) {
  #header h1#page-title {
    font-size: 3em;
  }
}

@media (max-width: 1079px) {
  #header h1#page-title.site-slogan {
    font-size: 2em;
  }

  #logo {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-right: 1em;
    margin-left: 1em;
  }

  #main-menu li a {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
}

#header h1#page-title.site-slogan {
  width: 60%;
  margin: 0 auto;
  padding: 10% 0;
}

@media (max-width: 820px) {
  #header {
    background-size: 1000px;
    background-position: center -240px;
  }

  #main-menu li {
    padding: 0 0.2em;
  }

  #main-menu li a {
    font-size: 0.8em;
  }

  .region-content h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {

  #header h1#page-title.site-slogan {
    font-size: 1.4em;
    width: 90%;
  }

  .region-content h2 {
    font-size: 1.3em;
    padding: 0 0.8em;

  }

  .block .content {
    font-size: 1em;
    margin: 0 10%;
  }

}

@media (min-width: 630px) {


  #user-register-form .field-type-text,
  #edit-account {
    float: left;
    clear: left;
    width: 46%;
  }

  #edit-field-member-type,
  #edit-field-ayy-member,
  #edit-field-other-information {
    margin-left: 56%
  }

  #edit-field-member-type .form-item {
  }

  #field-first-name-add-more-wrapper .form-item {
    margin-top: 0;
  }

  #edit-field-member-type-und label {
    margin-left: 1em;
  }

  #edit-field-member-type .description {
    margin-top: 1em;
    text-align: left;
  }

  #edit-field-member-type-und {
    text-align: left;
  }

  #edit-field-ayy-member .form-item {
    text-align: left;
  }

  #edit-field-ayy-member label {
    margin-left: 1em;
  }

  #edit-actions {
    clear: both;
    padding-top: 3em;
  }
}